<div class="page-header">
  <h3>Follow #<%= @follow.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Participants</dt>
      <dd>
        <% if @follow.participant.present? %>
          <a href="/users/<%= @follow.participants %>">
            <%= @follow.participant.email %>
          </a>
        <% end %>
      </dd>

      <dt>Bet</dt>
      <dd>
        <% if @follow.solo_bet.present? %>
          <a href="/bets/<%= @follow.bet %>">
            <%= @follow.solo_bet.name %>
          </a>
        <% end %>
      </dd>

      <dt>Bet choice</dt>
      <dd>
        <% if @follow.choice.present? %>
          <a href="/choices/<%= @follow.bet_choice %>">
            <%= @follow.choice.id %>
          </a>
        <% end %>
      </dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/follows" class="btn btn-primary">
        Back
      </a>
      <% if current_user == @follow.participant %>
        <a href="/follows/<%= @follow.id %>/edit" class="btn btn-warning">
          Edit
        </a>
        <a href="/delete_follow/<%= @follow.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
</div>
